*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
}
.col{
    width: 25%;
    margin: 20px;
}
img{
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
}
.d-flex{
    display: flex;
}
.j-between{
    justify-content: space-between;
}
ul, li{
    list-style: none;
    margin-top: 20px;
}
h1, ul,li{
    font-family: 'Oswald', sans-serif;;
}
h1{
    font-size: 3rem;
}
ul, li{
    font-size: 1.5rem;
}
body{
    background-color: #F5F5DC;
}
a{
    text-decoration: none;
}
a:hover{
    color: brown;
}
#films{
    padding: 50px;
    max-width: 1200px;
    margin: 0px auto;
}
col:hover{
    opacity: 1;
}
#news{
    padding: 50px;
    max-width: 1200px;
    margin: 0px auto;
}
.tt{
    width: 50%;
    margin: 25px 0 25px 0;
    text-align: left;
}
.tt img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
